.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.col-md-4 {
  margin: 12px 0;
}

.list-card {
  text-decoration: none;
  color: white;
}

.no-underline a {
  text-decoration: none;
  color: white;
}

.movie-img {
  height: 250px;
  border-radius: 50%;
  padding: 0px 36px;
}
